@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing:border-box
}

body {
  background-color:#212121;
  font-family:'Roboto', sans-serif;
}

.kanban {
  display:inline-flex;    
}

.title {
  font-size: 1rem;
  margin: 10px 0 20px;
  text-align:center;
  color: azure; 
}

.section {
  background-color:#383838;
  width: 80px;
  padding:10px;
  border-radius: 10px;
  margin:5px;
  flex-direction:column;
  display:inline-flex;
}

.content{ 
  width: 60px;
  background-color: #212121;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  text-align:center;
}

.card {
  width:50px;
  padding:10px;
  margin:5px;
  background-color: #555252;
  border-radius: 10px;
  color: azure;
  font-size:x-small;
  text-align:center;
}
.control{
  background-color:#383838;
  width: 80px;
  padding:10px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: smaller;
  cursor:pointer;
  text-align:center;
  flex-direction:column;
  display:inline-flex;
  color: azure; 
}


